.title {
  padding: 24px 0px;
}

.title__title {
  font-size: 28px;
  margin: 0px;
  font-weight: 700;
  position: relative;
}

.title__title:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 40px;
  background: #41f6d7;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  left: -16px;
  border-radius: 5px;
}

.title__request-item, .title__search-items {
  display: none;
}

@media (min-width: 709px) {
  .title__title:before {
    left: -24px;
  }
}

@media (min-width: 1120px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .title__title {
    margin-right: auto;
  }
  .title__request-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title__request-text {
    margin-right: 9px;
    font-weight: 500;
  }
  .title__search-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 32px;
  }
  .title__search-text {
    margin-right: 9px;
    font-weight: 500;
    font-family: "TT Lakes";
  }
}
