.help {
	display: none;
	@media (min-width: 500px) {
		& {
			display: flex;
			margin-left: auto;
			margin-right: 0px;
			display: flex;
			justify-content: space-between;
			width: 152px;
		}
	}
}
