html {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
body {
	padding: 0px;
	margin: 0px;
	font-family: "TT Lakes";
	box-sizing: inherit;
	background-color: #f8f8f8;
	font-weight: 500;
}
:active,
:hover,
:focus {
	outline: 0;
	outline-offset: 0;
}

li {
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
}
button:focus {
	outline: none;
}
