@import "../../scss/fonts.scss";
@import "../../scss/zeroing.scss";
@import "../../scss/fon.scss";

// ..................................................................

.hidden {
	padding: 24px 24px 32px 24px;
	box-shadow: 0px 0px 52px rgba(14, 0, 80, 0.2), 0px 0px 4px rgba(69, 0, 126, 0.02);
	max-width: 320px;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	background-color: #fff;

	&__nav {
		margin-top: 57px;
	}
	&__help {
		margin-top: auto;
	}
	&__info {
		margin-top: 16px;
		margin-bottom: 40px;
	}
	&__languages {
	}
}

.hidden_header {
	&__items {
		display: flex;
	}
	&__byrger {
		width: 40px;
		height: 40px;
		position: relative;
	}
	&__byrger-items {
	}
	&__logo {
		margin-left: 16px;
		margin-top: -6px;
	}
	&__search {
		margin-left: 78px;
	}
}

.nav {
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	&__item {
		line-height: 24px;
		letter-spacing: -0.2px;
		color: #1b1c21;
		margin-bottom: 32px;
		position: relative;
		font-weight: 500;
		&:hover,
		&:focus {
			color: #7e7e82;
			display: flex;
			align-items: center;
			&::before {
				content: "";
				width: 32px;
				height: 32px;
				background-color: #41f6d7;
				display: block;
				border-radius: 20%;
				position: absolute;
				left: -52px;
			}
		}
	}
	&__item--actived {
		color: #7e7e82;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			width: 32px;
			height: 32px;
			background-color: #41f6d7;
			display: block;
			border-radius: 20%;
			position: absolute;
			left: -52px;
		}
	}
}

.help {
	display: flex;
	&__item {
		margin-right: 16px;
		&:last-child {
			margin-right: 0px;
		}
	}
}
.info {
	&__mail {
		margin-bottom: 12px;
		font-weight: 500;
	}
	&__phone {
		font-weight: bold;
		font-size: 24px;
	}
}
.languages {
	&__btn {
		color: #1b1c21;
		border: none;
		background-color: transparent;
		font-size: 16px;
		font-weight: 500;
		cursor: pointer;
		&:hover,
		&:focus {
			color: #7e7e82;
		}
	}
	&__btn--actived {
		color: #7e7e82;
	}
}
